:root {
  --primary-blue-dark: #0081a7;
  --primary-blue-light: #00afb9;
  --secondary-yellow-dark: #fed9b7;
  --secondary-yellow-light: #fdfcdc;
  --primary-red-light: #f07167;
  --primary-grey: #333;
  --grey-ligth: #e9ecef;
}

.footer-main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 35vh min-content;
  font-size: 1.8rem;
  background-color: var(--primary-grey);
  color: #fff;
}

.footer-content {
  padding: 0.5rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer-title {
}

.footer-list {
  list-style: none;
}

.footer-end {
  font-weight: 300;
  font-size: 1.8rem;
}
