@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

.layout-main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30vh 1fr min-content;
}

.layout-header {
}

.layout-navbar {
  text-align: right;
}

.layout-title {
  text-align: center;
  font-size: 4rem;
  font-weight: 300;
  font-size: 8rem;
  color: #333;
  font-family: 'Luckiest Guy', cursive;
  background-image: linear-gradient(to right, #ff512f, #f09819);
  -webkit-background-clip: text;
  color: transparent;
}
