.layout-main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30vh 1fr min-content;
}

.layout-header {
}

.layout-navbar {
  text-align: right;
}

.layout-title {
  text-align: center;
  font-size: 4rem;
  font-weight: 300;
  font-size: 6rem;
  color: #333;
}
