:root {
  --primary-dark: #2d2a32;
  --primary-blue: #3454d1;
  --primary-green: #31cb00;
  --primary-grey-dark: #a5a5a5;
  --primary-grey-light: #eeeeff;
  --extra-red: #f07167;
}

.navbar-main {
  padding: 0.3rem;
  /* background-color: var(--primary-blue-dark); */
  background-color: var(--primary-dark);
  color: #fff;
}

.navbar-list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  font-size: 1.7rem;
}

.navbar-list li {
  padding-right: 0.5rem;
  position: relative;
  cursor: pointer;
}

.navbar-list li::after {
  content: '';
  width: 2px;
  height: 12px;
  display: inline-block;
  background-color: var(--primary-grey-light);
  margin-left: 1rem;
}

.navbar-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-item a {
  text-decoration: none;
  color: var(--primary-grey-light);
  opacity: 0.8;
}

.navbar-item a:hover,
.navbar-item a:visited {
  opacity: 1;
}

.navbar-item button {
  padding: 0rem 0.4rem;
  font-family: inherit;
  border: none;
  background-color: #ff4136;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.9;
}

.navbar-item button:hover {
  opacity: 1;
}
