@import url('https://fonts.googleapis.com/css2?family=Pangolin&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Titillium+Web:ital,wght@0,300;0,700;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600;700&family=Luckiest+Guy&display=swap');
:root {
  --primary-blue-dark: #0081a7;
  --primary-blue-light: #00afb9;
  --secondary-yellow-dark:#fed9b7;
  --secondary-yellow-light:#fdfcdc;
  --extra-red:#f07167
  --primary-grey: #333;
  --grey-ligth: #e9ecef;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  /* font-family: 'Poppins', sans-serif; */
  font-family: 'Titillium Web', sans-serif;
  /* font-family: 'Dancing Script', cursive; */
  font-weight: 300;
}

@media screen and(max-width:978px) {
  html {
    font-size: 58%;
  }
}